.iframe {
    width: 100%; 
    max-width: 1200px; /*800px;*/
    height: 80vh; /*600px;*/
    margin: 20px auto;
    display: block; 
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}