.myComponent {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/

    /* Responsive grid: auto-fit columns with a minimum width of 250px */
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px)); /*repeat(auto-fit, minmax(250px, 1fr));*/
    justify-content: center; 
    gap: 20px; 
    padding: 10px;
}

h4{
    font-size: 2em;
    text-align: center; 
    margin-bottom: 10px; 
    color: #646cff; 
    border-bottom: 2px solid #333; 
    padding-bottom: 10px;
}

/* ----GitHub Repository styles---- */
.repoBox {
    border: 1px solid #444444; 
    border-radius: 10px;
    background-color: #1f1f1f; /*#e6f7ff*/
    color: #ffffff;
    padding: 15px; /* 10px*/
    transition: transform 0.2s, box-shadow 0.2s;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.repoBox:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* 0 4px 10px rgba(0, 0, 0, 0.1); */

    /* Slightly change background on hover (TODO: should this be kept??) */
    background-color: #2a2a2a;
}

/*Text displaying the project language when the mouse hovers over a .repoBox object*/
.languageLabel {
    opacity: 0; 
    transition: opacity 0.3s ease; 
    font-weight: bold;
    color: #64ffda; 
    margin-top: 10px;
}
/* Show the language label when the parent .repoBox is hovered */
.repoBox:hover .languageLabel {
    opacity: 1;
}
/* ----             ----*/

.img {
    width: 200px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}